<div class="container">
    <div class="alert {{ color }}" role="alert">
        {{ action }}
    </div>
    <form method="get">
        <label for="code">Code</label>
        <input type="text" class="form-control" id="code" name="code" placeholder="****">
        <br>
        <div class="row">
            <div class="col-sm-4">
                <button type="button" name="" onclick="buttonPressed('7')" value="7" class="btn btn-primary btn-block ">
                    7
                </button>
            </div>
            <div class="col-sm-4">
                <button type="button" name="" onclick="buttonPressed('8')" value="8" class="btn btn-primary btn-block ">
                    8
                </button>
            </div>
            <div class="col-sm-4">
                <button type="button" name="" onclick="buttonPressed('9')" value="9" class="btn btn-primary btn-block ">
                    9
                </button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <button type="button" name="" onclick="buttonPressed('4')" value="4" class="btn btn-primary btn-block ">
                    4
                </button>
            </div>
            <div class="col-sm-4">
                <button type="button" name="" onclick="buttonPressed('5')" value="5" class="btn btn-primary btn-block ">
                    5
                </button>
            </div>
            <div class="col-sm-4">
                <button type="button" name="" onclick="buttonPressed('6')" value="6" class="btn btn-primary btn-block ">
                    6
                </button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <button type="button" name="" onclick="buttonPressed('1')" value="1" class="btn btn-primary btn-block ">
                    1
                </button>
            </div>
            <div class="col-sm-4">
                <button type="button" name="" onclick="buttonPressed('2')" value="2" class="btn btn-primary btn-block ">
                    2
                </button>
            </div>
            <div class="col-sm-4">
                <button type="button" name="" onclick="buttonPressed('3')" value="3" class="btn btn-primary btn-block ">
                    3
                </button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <button type="submit" name="" value="Submit" class="btn btn-success btn-block">Ausführen</button>
            </div>
            <div class="col-sm-4">
                <button type="button" name="" onclick="buttonPressed('0')" value="0" class="btn btn-primary btn-block">
                    0
                </button>
            </div>
            <div class="col-sm-4">
                <button type="button" name="" onclick="buttonPressed('delete')" value="Delete"
                        class="btn  btn-danger btn-block">Löschen
                </button>
            </div>
        </div>
    </form>
</div>
<script src="/javascripts/jquery/jquery-3.4.1.js"></script>
<script src="/javascripts/code.js"></script>