<form>
    <div class="input-group input-group-lg">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Datum</span>
        </div>
        <input type="date" class="form-control" aria-label="12" aria-describedby="inputGroup-sizing-lg" id="date"
               name="date">
    </div>

</form>
