body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.btn-sq-block {
    display: block !important;
    width: 100% !important;
    padding-top: 25% !important;
}